<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @itinerary.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @itinerary.content %>
</p>

<br>

<div>
	<% @events.each do |event| %>
		<div class='col-md-4'>
			<%= render partial: 'events/event_list_item', object: event, as: 'event'%>
		</div>
	<% end %>
	<div class='col-md-4 event-list-item', id='add-event-list-item'>
		<%= link_to 'New Event', new_event_path %>
	</div>
</div>







