<p id="notice"><%= notice %></p>

<div class="col-md-12">
	<p>
	  <strong>Title:</strong>
	  <%= @itinerary.title %>
	</p>
	<p>
	  <strong>Description:</strong>
	  <%= @itinerary.content %> | <%= link_to 'Edit', edit_itinerary_path(@itinerary) %>
	</p>	
</div>

<div class="col-md-12">
  <%= content_tag :div, "",
    id: "itinerary-roadmap-container",
    class: "text-xs-center itinerary-roadmap",
    data: { events: @events, api_key: Rails.application.secrets.google_browser_key } %>
</div>

<div>
	<% @events.each do |event| %>
		<div class='col-md-4'>
			<%= render partial: 'events/event_list_item', object: event, as: 'event'%>
		</div>
	<% end %>
	<div class='col-md-4 event-list-item', id='add-event-list-item'>
		<%= link_to 'New Event', new_event_path(itinerary_id: @itinerary.id) %>
	</div>
</div>







