<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags %>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stepnote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="masthead container-fluid custom-container">
        <nav class="navbar navbar-light navbar-fixed-top" data-scroll-background-color="black">
          <div class="container-fluid custom-container">
            <ul class="nav navbar-nav float-xs-right">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '#', class: "nav-link dropdown-toggle", data: { toggle: "dropdown"} do %>
                    <i class="fa fa-user"></i>
                    <%= current_user.email %>
                  <% end %>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                      <i class="fa fa-wrench"></i>
                      <%= t(".user_settings") %>
                    <% end %>
                    <div role="separator" class="dropdown-divider"></div>
                    <%= link_to destroy_user_session_path, class: "dropdown-item" do %>
                      <i class="fa fa-sign-out"></i>
                      <%= t(".logout") %>
                    <% end %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: "nav-link" do %>
                    <i class="fa fa-sign-in"></i>
                    <%= t(".login") %>
                 <% end %>
              <% end %>
            </ul>
          </div>
          
        </nav>
      </div>




 		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
